<body >
  <div class="list-container">
  <!--List Items-->
  <!-- <div class="slider-container"> <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" (click)="handleRangeSlider()" [options]="options"></ng5-slider></div> -->
  <div class="slider-container">
    <h5 style="margin-bottom: 2em;">Filters</h5>
    <npn-slider [min]="150" [max]="750" (onChange)="handleRangeSlider($event)" [step]="50" [showStepIndicator]="true"></npn-slider>
    <h5 class="rangeprice-filter">Price</h5>
    </div>
  <section class="products">
    <div class="sortBy">Sort By
      <span class="price-filter" id="ltoh" (click)="sortLtoH()">Price--Low High</span>
      <span class="price-filter" id="htol" (click)="sortHtoL()">Price--High Low</span>
      <span class="price-filter" id="htol" (click)="sortDicount()">Discount</span>
    </div>
    <div class="mobile-filter">
      <button type="button" (click)="showModel = true"  class="mobile-filter-btn" data-toggle="modal" data-target="#myModal"><i class="fas fa-sort">Sort</i>
      </button>
      <button class="mobile-filter-btn"><i class="fas fa-filter">Filter</i></button>
    </div>
    <div class="serchItem">
      <input type="text" class="searchInput"  [(ngModel)]="serchParam" placeholder="Serch Product"/>
    </div>
    <div class="products-center">
      <article class="product" *ngFor="let item of productListItems | filter:serchParam">
        <div class="img-container">
          <img src="{{item.img_url}}" class="product-img" alt="item">
        </div>
        <h3>{{item.name}}</h3>
        <h4>${{item.price - (item.price*item.discount/100)}}
          <del class="delPrice">{{item.price}}</del>
          <span class="discPrice">{{item.discount}}%</span>
        </h4>
        <!-- <h4>${{item.price}}</h4> -->
        <button class="item-btn" (click)="handelAddToCart(item)">
          <i class="fas fa-shopping-cart">Add to Cart</i>
        </button>
      </article>
    </div>
  </section>
  <!--End List Items-->
</div>

<!-- The Modal -->
<div class="modal" id="myModal" [ngClass]="{'show':showModel}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- The End Modal -->

</body>
