@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import '~bootstrap/dist/css/bootstrap.min.css'

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile-filter{
  display: none;
}
.ng5-slider{
  width: 85% !important;
  margin: 60px 0 15px !important;
}
.ng5-slider .ng5-slider-bubble {
  padding: 5px 4px !important;
  font-size: 12px !important;
}
.slider-container{
  width: 16%;
  margin: 1em auto;
  position: sticky
}
.rangeprice-filter{
  margin-left: 40%;
  color: #9d9797;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background:#047DBF;
  z-index: 1;
}
.cartheader{
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.footer{
  height: 30px;
  width: 100%;
  background:#047DBF;
  position: fixed;
  text-align: center;
  bottom: 0px;
  padding: 5px;
}
.nav-icon {
  font-size: 1.5rem;
  color: azure;
}
.nav-icon-logo{
    font-size: 1.5rem;
    color: #f8e831;
}
.counter{
  display: flex;
  letter-spacing: 8px;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */
.banner-btn {
  padding: .5rem .6rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: .7rem;
  background: #047DBF;
  color: #fff;
  border: 1px solid #fff;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background:#666;
  color: #fff;
}
/* --------------- Products ---------------- */

.products {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
  border-left: 1px solid #e7e9e4 !important;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 930px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.sortBy{
  width: 70vw;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  font-weight: bold;
}
.price-filter{
  margin: 10%;
  color:#047DBF;
  cursor: pointer;
}
.img-container {
  position: relative;
  overflow: hidden;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 6rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}
.item-btn{
  background: #047DBF;
  color: #fff;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
  border: 0px;
  margin: auto;
  display: block;
}
.mobile-filter-btn{
  background:#fff;
  color:#444;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: .3rem;
  border: 1ps solid #333;
  border-radius: 5px;
  box-shadow: none;
  margin: 0px 5px;
}
.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: var(--mainSpacing);
  color: #222;
  text-align: center;
}
/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  width: 100%;
  height: 100%;
}
.cart {
  width: 90%;
  height: 100%;
  margin: auto;
  background: #fff;
  padding: 0rem 1.5rem;
}
.cart-content{
  width: 65% !important;
}
.cartHeading {
  background: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 100%;
    min-width: 450px;
  }
}
@media screen and (max-width: 468px) {
  .slider-container{
    display: none !important;
  }
.cartHeading {
  display: none !important;
}
  .products {
    width: 100%;
    padding: 0rem !important;
    border-left: none;
  }
  .cart-content{
    width: 100% !important;
  }
  .cart {
    width: 100% !important;
    padding: 0rem 0.5rem;
}
  .cart-footer {
    width: 76% !important;
    position: fixed;
    bottom: 6%;
    margin-top: 0px !important;
    left: 10%;
    height: 150px !important;
    padding: 2px !important;
}
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 1fr auto;
    grid-column-gap: 0.5rem;
    margin: 0.5rem 0;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
  }
  .cart-item h4 {
    font-size: 0.55rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.3rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .cart-btn {
    margin-right: 10px;
}
  .close-cart {
    font-size: 0.7rem;
    cursor: pointer;
  }
  .products-center {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  .sortBy {
    display: none;
  }
.mobile-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: .5rem auto;
}
.price-filter {
  margin: 2% 1%;
  font-size: 14px;
}
}

.delPrice{
color: #777;
padding-right: 5px;
}
.discPrice{
  color: limegreen;
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.makebold{
  font-weight: 600;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns:  1fr 1fr 1fr 1fr ;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  border: 1px solid #444;
  padding: 5px;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: #047DBF;
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
    width: 27%;
    border: 1px solid #666;
    padding: 5px 0px;
    margin-top: 1.4rem;
    height: 150px;
    margin-left: 3%;
    font-size: 13px;
    letter-spacing: var(--mainSpacing);
    text-align: left;
}
.priceDetails{
  color: #888;
    padding-left: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1dbdb;
    font-weight: bolder;
}
h3.price{
  font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
h3.discountPrice{
  font-size: 13px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
h3.totalPAyabile {
  border-top: 1px solid #e1dbdb;
  padding-top: 4px;
  margin-bottom: 0px;
  padding-left: 6px;
}
.list-container{
  display: flex;
}
/* .cart-totalPAyabile{
  padding-left: 20%;
}
.cart-price{
  padding-left: 55%;
}
.cart-discountPrice{
  padding-left: 44%;
} */


/* --------------- End of Cart ---------------- */
